* {
    box-sizing: border-box;
    border:0px;
    padding:0px;
}



body{
    font-size: 16px;
}

.navbar-brand h1{
    color: white;
    font-size:1.2em;
    
}

.navbar-brand h1:hover{
    opacity: .8;  
    
  }

.navbar-toggler{
    border:1px solid white;
}

button{
    border:1px solid white;
}


#social-links span{
    color:wheat;
    font-size: 1.4em;
}

#social-links  a{
    margin-left:25px;
}

#fb-link,#twitter-link ,#insta-link {
     border-radius: 50%;
}

#fb-link{     
    color:#1673EA;
    
}

#twitter-link{
    color:#1DA1F2;
}

#insta-link{
    color:#DC2C6E;

}

#fb-link:hover,#twitter-link:hover,#insta-link:hover{
    opacity: 0.7;
    text-decoration: none;
}





#nav-items li a{
    color: white;
    font-size:1em;
    text-align: center;
    text-transform: uppercase;
    
}

#nav-items li a:hover{
  background-color:white;
  color: #343A40;  
  transition-duration: 0.7s;
  
}

#nav-items li a:active{
    background-color:red;  
}

#nav-items  hr{
    border:.5px solid #E3B638;
    width:60%;
}

#product-tile{
    width:100%; 
    padding:0px;
    margin-bottom: 8px;
    margin-top:8px;
 
}


/*#product-tile{
    border:1px yellow solid;
    position: relative;
}*/

.row{
    margin-left: 0px;
    margin-right:0px;
}


#product-image {
position: relative;
box-shadow: -2px 2px 3px 1px rgba(52,58,64,1);
width:100%;
padding:0px;
height: 100%;




}




#product-description h3{
 font-size: 1.2em;
 margin-top:5px;
}

#product-description p{
 font-size:0.9em;
 
}
 

#product-price
{
    font-size: 0.8em;
    
    
}


#ajoutpanier button{
border:1px solid white;
border-radius: 5px;
color:#FFFFFF;
background-color:#343A40;
padding:5px;



}

#ajoutpanier button:hover{
    
    text-decoration: none;
    opacity: 0.8;
    background:#000000;
    color:#E3B638 ;
    transition-duration: 0.6s;
    
    
   
}


#menu-id {
    
    width: 100%;
    position: absolute;
    color:#FFFBFB;
    background-color: #343A40;
    bottom: 0;
    left:0;
    right:0;
    overflow: hidden;
    
}

#main-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-container h2{
    
    font-family: 'Pacifico', cursive;
    
    padding:5px;
    font-size:2.0em;
    
}

#footer-container{
    
    background-color:#343A40 ;
    width:100%;
    
}

#footer-card{
    color:wheat;
    width:100%;
    
    margin-top:2px;
    padding:2px;
}

#footer-card h2{
    font-size:1.4em;
    font-family: 'Pacifico', cursive;
}

#footer-card p{
    font-size: 1em;
}

#footer-card a{
    text-decoration: none;
    color:wheat;
}


#footer-card a:hover{
background-color:wheat;
  color: #343A40;  
  font-weight: 500;
  
}

#footer-container   hr{
    border:.5px solid #E3B638;
    width:60%;
    
}