*{
    box-sizing: border-box;
    border:0;
    padding:0;
}



body{
    font-size: 16px;
}

.navbar-brand h1{
    color: white;
    font-size:1.2em;
    
}

.navbar-brand h1:hover{
    background-color:white;
    color: #343A40;  
    font-weight: 500;
  }

.navbar-toggler{
    border:1px solid white;
}

button{
    border:1px solid white;
}



#nav-items li a{
    color: white;
    font-size:1em;
    text-align: center;
    text-transform: uppercase;
    
}

#nav-items li a:hover{
  background-color:white;
  color: #343A40;  
  transition-duration: 0.7s;
}


#nav-items li a:active{
    background-color:red;  
}

#nav-items  hr{
    border:.5px solid #E3B638;
    width:60%;
}

#card-content{
    background-color: wheat;
    height:auto;
    border:1px solid black;
    margin:10px 10px auto;
    position: relative;
    box-shadow: -2px 2px 3px 1px rgba(52,58,64,1);
    width:350px;
    height:200px;
}

#card-content img{
    width:100%;
    height: 100%;
}

#card-title{
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    text-align: center;
    background-color: #343A40;
    color: wheat;
    opacity: .8;

}

#card-content:hover{
    opacity: .8;
}


.jumbotron{
    width:auto;
    height:auto;
    background-color: #FFFFFF;
}

#main-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-container h2{
    
    font-family: 'Pacifico', cursive;
    
    padding:5px;
    font-size:2.0em;
    
}
#card-content {
    height: 200px;
    width: 100%;
    
}
#card-content h2{
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
    text-transform: uppercase;
}

#card-content p{
    font-family: 'Montserrat', sans-serif;
    font-size:.9em;
}

#footer-container{
    
    background-color:#343A40 ;
    width:100%;
    
}

#footer-card{
    color:wheat;
    width:100%;
    
    margin-top:2px;
    padding:2px;
}

#footer-card h2{
    font-size:1.4em;
    font-family: 'Pacifico', cursive;
}

#footer-card p{
    font-size: 1em;
}

#footer-card a{
    text-decoration: none;
    color:wheat;
}


#footer-card a:hover{
background-color:wheat;
  color: #343A40;  
  font-weight: 500;
  
}

#footer-container   hr{
    border:.5px solid #E3B638;
    width:60%;
    
}

#social-links span{
    color:wheat;
    font-size: 1.4em;
}

#social-links  a{
    margin-left:25px;
}

#fb-link,#twitter-link ,#insta-link {
     border-radius: 50%;
}

#fb-link{     
    color:#1673EA;
    
}

#twitter-link{
    color:#1DA1F2;
}

#insta-link{
    color:#DC2C6E;

}

#fb-link:hover,#twitter-link:hover,#insta-link:hover{
    opacity: 0.7;
    text-decoration: none;
}