section{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    
}

h1{
    text-align: center;
}


.content p{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    
    
}

img{
    float: right;
    margin-left: 1em;
}

#btn-container{
    width:auto;
    /* height: 25%; */
    
}    

