h1{
    text-align: center;
}

.content p{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

img{
    float: right;
    margin-left: 1em;
}

#myCanvas{
    border: 2px solid black;
    width: 200px;
    height: 200px;
}